/*https://www.linkedin.com/in/estelle-alizier-5b1208298/*/
/*Feuille de style pour le jeu pierre-papier-ciseaux */

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #DED2B9;
    text-align: center;
}

#choices {
    /* J'organise mes choix en ligne et les espaces autour d'eux */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #DED2B9;
}

.choice {
    /* Je donne un style aux choix avec un curseur, une bordure, et une transition de couleur au survol */
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.choice:hover {
    /* J'ajuste la couleur de fond lorsqu'on survole un choix */
    background-color: rgb(57, 13, 13);;
}

#computer-choice {
    /* J'ajuste le style du choix de l'ordinateur */
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    color: #DED2B9;
    text-align: center;
}

h3 {
    /* J'ajuste le style du titre */
    color: #DED2B9;
    text-align: center;
}

/* Fin du style pour le jeu pierre-papier-ciseaux */
