/*https://www.linkedin.com/in/estelle-alizier-5b1208298/*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2C180F; /* Couleur de fond du corps de la page */
}

#game-container {
    position: relative;
    height: 400px;
    width: 600px;
    border: 3px solid #AC9C88; /* Bordure du conteneur de jeu */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    grid-template-rows: repeat(2, 1fr); /* 2 lignes */
    background-color: #DED2B9; /* Couleur de fond du conteneur de jeu */
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FF0000; /* Couleur de la balle */
    border-radius: 50%; /* Forme arrondie de la balle */
}

.brick {
    margin-top: 10px;
    width: 50px; /* Largeur fixe pour chaque brique */
    height: 20px;
    background-color: #2C180F; /* Couleur de fond des briques */
    border: 2px solid #AC9C88; /* Bordure des briques */

    position: absolute;
}
